/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Document reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
}

/* Variable declarations */
:root {
    /* Color Scheme */
    --clr-tomato: hsl(4, 100%, 67%);
    --clr-slate-grey: hsl(234, 29%, 20%);
    --clr-charcoal-grey: hsl(235, 18%, 26%);
    --clr-grey: hsl(231, 7%, 60%);
    --clr-white: hsl(0, 0%, 100%); 

    /* Font Sizes */
    --font-large: 3rem;
    --font-med-lg: 2.5rem;
    --font-medium: 1.5rem;
    --font-small: 1rem;

    /* Spacings */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 3rem;

    /* Breakpoints */
    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
}

/* Base styles */
html {
font-family: Roboto, sans-serif, system-ui;
font-size: 16px;
}
body {
    background-color: var(--clr-charcoal-grey);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
}
input,
textarea,
button,
select,
a {
    font: inherit;
}
a:hover,
a:focus {
    font: inherit;
}

/* Resuable Styles */
.btn {
    height: 3rem;
    border-radius: 0.425rem;
    width: 100%;
    background: var(--clr-slate-grey);
    color: var(--clr-white);
    cursor: pointer;
    transition: background-color 0.3s;
    margin: var(--spacing-medium) 0 ;
}
.btn:hover {
    background-color: var(--clr-tomato);
    box-shadow: 0.188rem 0.688rem 1.438rem -0.688rem hsl(4, 100%, 67%);
}

.newsl-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-medium);
}
.newsl-card {
    display: flex;
    flex-direction: row-reverse;
    background: white;
    padding: 1.25rem;
    border-radius: 1.875rem;
    max-width: 58rem;
}
.newsl-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2.75rem;
}
.newsl-header {
    font-size: var(--font-med-lg);
    font-weight: 700;
    color: var(--clr-slate-grey);
}
.newsl-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-small);
    font-weight: 400;
}
.newsl-list-item > img {
    width: 20px;
    height: 20px;
}
.newsl-list-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    padding: var(--spacing-small) 0;
    background: url('images/icon-success.svg') no-repeat left center;
    margin-bottom: var(--spacing-small);
}
.input-label {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px 0;
}
.error-msg {
    display: none;
    color: var(--clr-tomato);
    font-weight: 700;
}
input[type="email"] {
    width: 100%;
    height: 3rem;
    border-radius: var(--spacing-small);
    outline: 1px solid var(--clr-grey);
    text-indent: var(--spacing-medium);
    padding: var(--spacing-small); 
    font-size: var(--font-small);
}
.success-card {
    background: var(--clr-white);
    max-width: 30rem;
    border-radius: 1.875rem;
    padding: var(--spacing-xlarge);
}
.success-header {
    padding-top: 25px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.8rem;
}
.success-msg {
    padding: 15px 0;
    line-height: 25px;
}
.success-email {
    font-weight: 700;
}
.author {
    color: var(--clr-white);
    font-size: 0.75rem;
}
.author a {
    color: inherit;
}
.author a:hover {
    color: var(--clr-tomato);
}
#success-wrapper {
    display: none;
}
 @media (max-width: 768px) {
    .newsl-card {
        flex-direction: column;
    }
    .newsl-header {
        font-size: 2.8rem;
    }
    .newsl-img-wrapper img {
        width: 100%;
    }
    .newsl-img-wrapper {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .newsl-content {
        padding: 2.75rem;
    }
    .newsl-msg {
        padding: 15px 0;
    }
    .btn-primary {
        margin: 1.25rem 0;
    }
}
@media (max-width: 480px) {
    body {
        background: var(--clr-white);
        padding: 0
    }
    .newsl-card {
        flex-direction: column;
    }
    .newsl-header {
        font-size: 2.2rem;
    }
    .success-header {
        font-size: 2rem;
        font-weight: 700;
        line-height: 30px;
    }
    .btn-dismiss {
        position: relative;
        top: 100px;
    }
    .author2 {
        position: relative;
        top: 140px;
        color: var(--clr-slate-grey);
        font-size: .625rem;
    }
}